<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Me</a></li>
<li><a href="/family">Family</a></li>
<li><a href="/words">Words</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://tinyletter.com/rhonorv">newsletter</a></li>  
   <li><a href="mailto:r.honorvincent.com">email</a></li>
   <li><a href="https://twitter.com/rhonorv">twitter is bad</a></li>
   </ul>
  </footer>
  </body>

</html>
